.profile_page {
    padding: 25px;
    padding-left: 5px;
    height: 90.4%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: start;
    row-gap: 20px;
    grid-auto-rows: min-content;
    text-align: center;
}

.profile_wrapper {
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    height: fit-content;
    row-gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .name,
    .date,
    .phone {
        text-align: left;
        padding: 0 5px;

        span {
            color: #929191;
            font-family: Roboto
        }
    }

    #change_data {
        outline: none;
        user-select: none;
        touch-action: none;
        background: #E52D2B;
        border-radius: 8px;
        height: 50px;
        border: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        letter-spacing: -0.408px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:1100px) {
    .profile_wrapper {
        grid-column: 1/7;
    }
}

@media(max-width:768px) {
    .profile_page{
        padding: 15px;
    }
    .profile_wrapper {
        grid-column: 1/10;
        box-shadow: none;
        padding: 0px;

        .profile_wrapper_title {
            text-align: left;
        }
    }
}