.catalog_items_box {
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 55px;
    height: auto;
    border-bottom: 1px solid var(--main);
    background-color: white;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid #E52D2B;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

}


.cat_items {
    display: inline-block;
    padding: 8px;
    border-bottom: 3px solid white;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-transform: capitalize;
}

.cat_items.active {
    border-bottom: 3px solid var(--main);
    border-radius: 2px;
}